.kaufman{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

